openapi: 3.0.3
info:
  title: Employment-SP Interoperability APIs
  x-logo:
    url: ./dci-logo.png
    backgroundColor: '#FFFFFF'
    altText: Digital Convergence Initiative
  description: |-
    The Employment-SP interoperability APIs enable secure data exchange between Public Employment Services (PES) and Social Protection (SP) systems for employment activation, status verification, training benefits, job placement, and compliance monitoring.

    Key API capabilities:
    1. Referral: Enable SP systems to refer eligible beneficiaries to PES for employment activation
    2. Status Verification: Allow real-time verification of employment status for SP eligibility assessment
    3. Training Benefits: Coordinate training program enrollment between SP and PES systems
    4. Job Placement: Track job placement outcomes for SP case management
    5. Compliance Monitoring: Monitor adherence to work requirements for conditional benefits

    Each request follows the DCI standard three-part structure:
    - signature: Message integrity verification using sender's signing key
    - header: Metadata for routing, authentication, and message handling
    - message: Encrypted payload containing the business data

    GitBook reference links:
    - [Employment-SP Standards](https://standards.spdci.org/standards/employment-sp-v1.0.0)

    Data Objects:
    - [Referral](https://standards.spdci.org/standards/employment-sp-v1.0.0/data/data-objects/do.empl.01-referral)
    - [Employment Status](https://standards.spdci.org/standards/employment-sp-v1.0.0/data/data-objects/do.empl.02-employment-status)
    - [Training Benefits](https://standards.spdci.org/standards/employment-sp-v1.0.0/data/data-objects/do.empl.03-training-benefits)
    - [Job Placement](https://standards.spdci.org/standards/employment-sp-v1.0.0/data/data-objects/do.empl.04-job-placement)
    - [Compliance Assessment](https://standards.spdci.org/standards/employment-sp-v1.0.0/data/data-objects/do.empl.05-compliance-assessment)
  version: 1.0.0
  contact:
    name: DCI Employment-SP Standards
    email: info@spdci.org
  license:
    name: DCI Social Protection License
    url: 'https://api.spdci.org/LICENSE.md'
servers:
  - url: 'https://sandbox.spdci.org/employment/v1.0.0'
    description: Sandbox Server
  - url: 'https://api.spdci.org/employment/v1.0.0'
    description: Production Server
tags:
  - name: Employment Referral
    description: Employment referral creation and management
  - name: Status Verification
    description: Employment status verification services
  - name: Training Benefits
    description: Training program enrollment and coordination
  - name: Job Placement
    description: Job placement tracking and outcomes
  - name: Compliance Monitoring
    description: Work requirement compliance assessment
  - name: Schemas
    description: Data schema definitions
x-tagGroups:
  - name: Core APIs
    tags:
      - Employment Referral
      - Status Verification
      - Training Benefits
      - Job Placement
      - Compliance Monitoring
  - name: Schema Objects
    tags:
      - Schemas
paths:
  /referrals:
    post:
      summary: Create Employment Referral (PRS.EMPL.01)
      description: |-
        Creates a referral from SP system to PES for employment activation of eligible beneficiaries.

        The SP system identifies work-able beneficiaries and sends referral information to PES for:
        - Registration in PES case management system
        - Assignment to employment counselor
        - Scheduling of initial activation meeting
        - Tracking of employment outcomes

        Request includes beneficiary demographics, eligibility criteria, SP program context, and consent information.
      operationId: post_referrals
      tags:
        - Employment Referral
      requestBody:
        description: Employment referral creation request
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgHeader_V1.0.0'
                    - properties:
                        action:
                          enum:
                            - create-referral
                message:
                  type: object
                  oneOf:
                    - $ref: '#/components/schemas/DO_EMPL_01_Request'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
                - message
      responses:
        '200':
          $ref: '#/components/responses/Response'
        '400':
          $ref: '#/components/responses/HttpErrorResponse'
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
      security:
        - Authorization: []
  /status/{person_id}:
    get:
      summary: Verify Employment Status (PRS.EMPL.02)
      description: |-
        Verifies current employment status of a person for SP eligibility assessment.

        Allows SP systems to check:
        - Current employment status (employed, unemployed, inactive)
        - Employment history and duration
        - Active participation in employment programs
        - Compliance with work search requirements

        Used for benefit eligibility determination, recertification, and case management.
      operationId: get_employment_status
      tags:
        - Status Verification
      parameters:
        - name: person_id
          in: path
          required: true
          description: Unique identifier of the person (national ID, SP beneficiary ID, etc.)
          schema:
            type: string
            example: "12345678901"
        - name: X-Request-Id
          in: header
          required: true
          schema:
            type: string
            format: uuid
        - name: X-DCI-Version
          in: header
          required: true
          schema:
            type: string
            default: "1.0.0"
      responses:
        '200':
          description: Employment status information
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    $ref: '#/components/schemas/MsgSignature'
                  header:
                    $ref: '#/components/schemas/MsgCallbackHeader_V1.0.0'
                  message:
                    oneOf:
                      - $ref: '#/components/schemas/DO_EMPL_02_Response'
                      - $ref: '#/components/schemas/EncryptedMessage'
        '400':
          $ref: '#/components/responses/HttpErrorResponse'
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '404':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
      security:
        - Authorization: []
  /training-benefits:
    post:
      summary: Enroll in Training Benefits (PRS.EMPL.03)
      description: |-
        Coordinates training program enrollment between SP and PES systems.

        Enables:
        - Training program registration for SP beneficiaries
        - Coordination of training benefits (allowances, transportation, childcare)
        - Progress tracking and outcome reporting
        - Integration with SP benefit calculations

        Supports both SP-funded and PES-funded training programs with appropriate cost-sharing.
      operationId: post_training_benefits
      tags:
        - Training Benefits
      requestBody:
        description: Training benefits enrollment request
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgHeader_V1.0.0'
                    - properties:
                        action:
                          enum:
                            - enroll-training
                message:
                  type: object
                  oneOf:
                    - $ref: '#/components/schemas/DO_EMPL_03_Request'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
                - message
      responses:
        '200':
          $ref: '#/components/responses/Response'
        '400':
          $ref: '#/components/responses/HttpErrorResponse'
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
      security:
        - Authorization: []
  /job-placements:
    post:
      summary: Create Job Placement Record (PRS.EMPL.04)
      description: |-
        Creates job placement records for tracking employment outcomes.

        Used when:
        - PES successfully places a beneficiary in employment
        - Job placement affects SP benefit eligibility
        - Employment outcome data needed for program evaluation
        - Wage subsidy or employment incentive coordination required

        Enables SP systems to adjust benefits based on employment income and status.
      operationId: post_job_placements
      tags:
        - Job Placement
      requestBody:
        description: Job placement creation request
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgHeader_V1.0.0'
                    - properties:
                        action:
                          enum:
                            - create-placement
                message:
                  type: object
                  oneOf:
                    - $ref: '#/components/schemas/DO_EMPL_04_Request'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
                - message
      responses:
        '200':
          $ref: '#/components/responses/Response'
        '400':
          $ref: '#/components/responses/HttpErrorResponse'
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
      security:
        - Authorization: []
  /compliance/monitor:
    post:
      summary: Monitor Compliance (PRS.EMPL.05)
      description: |-
        Monitors compliance with work requirements for conditional SP benefits.

        Tracks:
        - Work search activities and documentation
        - Participation in mandatory employment programs
        - Compliance with activation requirements
        - Sanctionable non-compliance events

        Enables SP systems to apply appropriate sanctions or continue benefits based on compliance status.
      operationId: post_compliance_monitor
      tags:
        - Compliance Monitoring
      requestBody:
        description: Compliance monitoring assessment request
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgHeader_V1.0.0'
                    - properties:
                        action:
                          enum:
                            - assess-compliance
                message:
                  type: object
                  oneOf:
                    - $ref: '#/components/schemas/DO_EMPL_05_Request'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
                - message
      responses:
        '200':
          $ref: '#/components/responses/Response'
        '400':
          $ref: '#/components/responses/HttpErrorResponse'
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
      security:
        - Authorization: []
components:
  schemas:
    DO_EMPL_01_Request:
      type: object
      description: Employment referral request payload (PRS.EMPL.01)
      properties:
        transaction_id:
          type: string
          description: Unique transaction identifier for the referral process
          maxLength: 99
          example: "REF-20240325-001"
        referral_request:
          type: array
          items:
            type: object
            properties:
              reference_id:
                type: string
                description: Unique reference ID for this individual referral
                example: "REF-12345678901-20240325"
              timestamp:
                type: string
                format: date-time
                description: Timestamp of referral creation
              person_id:
                type: string
                description: Unique identifier of the person being referred
                example: "12345678901"
              sp_program_context:
                type: object
                properties:
                  program_id:
                    type: string
                    example: "SP-UNEMP-001"
                  benefit_type:
                    type: string
                    example: "UNEMPLOYMENT_BENEFIT"
                  eligibility_status:
                    type: string
                    enum: ["WORK_ABLE", "WORK_READY", "ACTIVATION_REQUIRED"]
              referral_reason:
                type: string
                enum: ["WORK_SEARCH_REQUIREMENT", "ACTIVATION_MANDATE", "VOLUNTARY_PARTICIPATION"]
              consent:
                $ref: '#/components/schemas/Consent'
            required:
              - reference_id
              - timestamp
              - person_id
              - sp_program_context
      required:
        - transaction_id
        - referral_request
    DO_EMPL_02_Response:
      type: object
      description: Employment status verification response payload (PRS.EMPL.02)
      properties:
        person_id:
          type: string
          example: "12345678901"
        employment_status:
          type: string
          enum: ["EMPLOYED", "UNEMPLOYED", "INACTIVE", "UNKNOWN"]
        employment_details:
          type: object
          properties:
            employer_name:
              type: string
              example: "ABC Company Ltd"
            employment_start_date:
              type: string
              format: date
            employment_type:
              type: string
              enum: ["FULL_TIME", "PART_TIME", "TEMPORARY", "SELF_EMPLOYED"]
            monthly_income:
              $ref: '#/components/schemas/Amount'
        program_participation:
          type: object
          properties:
            active_programs:
              type: array
              items:
                type: string
              example: ["JOB_SEARCH_ASSISTANCE", "SKILLS_TRAINING"]
            compliance_status:
              type: string
              enum: ["COMPLIANT", "NON_COMPLIANT", "PENDING"]
        verification_timestamp:
          type: string
          format: date-time
      required:
        - person_id
        - employment_status
        - verification_timestamp
    DO_EMPL_03_Request:
      type: object
      description: Training benefits enrollment request payload (PRS.EMPL.03)
      properties:
        transaction_id:
          type: string
          maxLength: 99
          example: "TRN-20240325-001"
        training_request:
          type: array
          items:
            type: object
            properties:
              reference_id:
                type: string
                example: "TRN-12345678901-20240325"
              person_id:
                type: string
                example: "12345678901"
              training_program:
                type: object
                properties:
                  program_id:
                    type: string
                    example: "TRN-DIGITAL-SKILLS-001"
                  program_name:
                    type: string
                    example: "Digital Skills for Employment"
                  duration_weeks:
                    type: integer
                    example: 12
                  cost_sharing:
                    type: object
                    properties:
                      sp_contribution:
                        $ref: '#/components/schemas/Amount'
                      pes_contribution:
                        $ref: '#/components/schemas/Amount'
              requested_benefits:
                type: array
                items:
                  type: string
                  enum: ["TRAINING_ALLOWANCE", "TRANSPORTATION", "CHILDCARE", "MATERIALS"]
            required:
              - reference_id
              - person_id
              - training_program
      required:
        - transaction_id
        - training_request
    DO_EMPL_04_Request:
      type: object
      description: Job placement creation request payload (PRS.EMPL.04)
      properties:
        transaction_id:
          type: string
          maxLength: 99
          example: "PLACE-20240325-001"
        placement_request:
          type: array
          items:
            type: object
            properties:
              reference_id:
                type: string
                example: "PLACE-12345678901-20240325"
              person_id:
                type: string
                example: "12345678901"
              job_details:
                type: object
                properties:
                  employer_id:
                    type: string
                    example: "EMP-ABC-001"
                  job_title:
                    type: string
                    example: "Customer Service Representative"
                  employment_type:
                    type: string
                    enum: ["FULL_TIME", "PART_TIME", "TEMPORARY", "CONTRACT"]
                  start_date:
                    type: string
                    format: date
                  monthly_salary:
                    $ref: '#/components/schemas/Amount'
              incentive_programs:
                type: array
                items:
                  type: string
                  enum: ["WAGE_SUBSIDY", "EMPLOYMENT_BONUS", "RETENTION_INCENTIVE"]
            required:
              - reference_id
              - person_id
              - job_details
      required:
        - transaction_id
        - placement_request
    DO_EMPL_05_Request:
      type: object
      description: Compliance monitoring assessment request payload (PRS.EMPL.05)
      properties:
        transaction_id:
          type: string
          maxLength: 99
          example: "COMP-20240325-001"
        compliance_request:
          type: array
          items:
            type: object
            properties:
              reference_id:
                type: string
                example: "COMP-12345678901-20240325"
              person_id:
                type: string
                example: "12345678901"
              assessment_period:
                type: object
                properties:
                  start_date:
                    type: string
                    format: date
                  end_date:
                    type: string
                    format: date
              compliance_areas:
                type: array
                items:
                  type: string
                  enum: ["WORK_SEARCH", "PROGRAM_PARTICIPATION", "APPOINTMENT_ATTENDANCE", "JOB_ACCEPTANCE"]
              requested_assessment:
                type: string
                enum: ["CURRENT_STATUS", "HISTORICAL_REVIEW", "SANCTION_EVALUATION"]
            required:
              - reference_id
              - person_id
              - assessment_period
              - compliance_areas
      required:
        - transaction_id
        - compliance_request
    # Common DCI Components (referenced from common schema paths)
    MsgHeader_V1.0.0:
      $ref: '../common/schema/MsgHeader_V1.0.0.yaml'
    MsgCallbackHeader_V1.0.0:
      $ref: '../common/schema/MsgCallbackHeader_V1.0.0.yaml'
    MsgSignature:
      $ref: '../common/schema/MsgSignature.yaml'
    EncryptedMessage:
      $ref: '../common/schema/EncryptedMessage.yaml'
    Consent:
      $ref: '../common/schema/Consent.yaml'
    Amount:
      $ref: '../common/schema/Amount.yaml'
    Error:
      $ref: '../common/schema/Error.yaml'
  responses:
    HttpErrorResponse:
      $ref: '../common/response/HttpErrorResponse.yaml'
    Response:
      $ref: '../common/response/Response.yaml'
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
      bearerFormat: jwt
      description: OAuth2 Bearer token for system-to-system authentication. All Employment-SP API endpoints require valid authentication tokens issued by the DCI authorization server.